version: ~> 1.0
sudo: false
language: node_js
node_js:
  - '10'
  - '12'
  - '13'
  - '14'
matrix:
  fast_finish: true
  allow_failures: []
cache: yarn
install:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-install.bash)"
before_script:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-verify.bash)"
after_success:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/surge.bash)"
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-publish.bash)"
notifications:
  email:
    recipients: >-
      doWcaIxdLRTtsQ+IjAYrfOZUIoqD4JjZ6UyFd3Zj/o/gT2OcfzE7WcGyf2uo1rWNMIo08XxcKC9Oes/KRQu0CHBXoDgbyA5SxNgy03m62fv1ly7iOfoeX4UlTfKff5ffeqrfs9IuBct20x0cYM+sIhEozlGvO5Q4cr9+yVia9prDFKd5+d01os1QiuNCTKnUP4zpxVQ2pExOSJusN0hPYdcktil992kxDLgAQ89U/dy1wD21V7OmO3xwfVMU41pAQETQYrWX++nYZiwMi7hf/fLhkstERYt9PJpsQAwlAT40qT9qVPVqgE71o8LW0CjdNn7tWGEUA41W1vg7NHMGw2Dcd+6CnVp8Crm5fgUI0U0VG4jGgieG/eueEv9C1Gob4fxX1Tz+Xd7Vmwfo9GM+SD2cofD8v8aW5ybrDZNUlvmO1K8DOPN6KcOUH6dQfYXPie+41IdzV9SECd4r65EWgG0AJhKAj8QQS82gLYnacmUkgFq+JUQuW3lpRv26dFkiHfEs8WrVOeQYey4a8STO1DQdVZei/I/S/yLWt4IjWtnEPK3fjz1+Eow8I1Frm34B1Oh/yNiJpiQb8kh9p63cmmwvJ8kmCpYW27E+ITQB/SDKU6mWTXF7IejUAWp8b/uVVuDSfmf1AEicjF3HFMIdrdE4H5mBxSLBZ48BffqC/4o=
