sudo: false
language: node_js
node_js:
- '8'
- '10'
- '12'
matrix:
  fast_finish: true
  allow_failures: []
cache: npm
install:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/c91c9d5eef34ecb0e92029667fd5052640225fa3/scripts/node-install.bash)"
before_script:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/c91c9d5eef34ecb0e92029667fd5052640225fa3/scripts/node-verify.bash)"
after_success:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/c91c9d5eef34ecb0e92029667fd5052640225fa3/scripts/surge.bash)"
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/c91c9d5eef34ecb0e92029667fd5052640225fa3/scripts/node-publish.bash)"
notifications:
  email:
    recipients:
      secure: gLn6P8SDEDqqwvFPJr70W55TzCZqlSonpdirSbhI4OQlqfWMMbuMt9WUynKwV8NU/Ij5rDwwZLMPYETJvaF6+8C/qebbez1NJPrUAcNnwQBOwZshzS/PAFfXro1mnr/07g1i881IYEFr9bb9LRAosSG8TkmNy72L3ToZbFkODJHj5FB5ZnRy1GLab+6RfI/UYaColYb+X7YnPDKq37yijlAQz5scztgSh8XcJVJ49XD+e+nQRnTKs1tTCOxGtqe762xdUgI8MpqaJqRjam1hLV/b5EML/jewCreAoYAZuuEf+mBdA3lOdtXJ8Tw++QBXnzo7dKohUBKPZyga3HgsUjaFQyIcFhJ84mQgciycVDYJb8QbxtzbsVETeYQZ5owypJuROJm+yEaCo7Pk4r1vmF9ZT8HqIFyHUmp6uneZ221wFxXjCVc/R+8Qo8t/25dVeNa7BO7sGf2FAfL+YkTP6S9WQ9Hdcg/gxfv+cDkPxcRXtOcvu1VI0GGmk13NELfZ/EPzY8PEBJ/+rzUmuJ+a+pBJy3r6SpFx24HnSdfqCJoY0RUQvbHe+A/gYmqPYfMgFSDYjILjsWAvI+BaCRYo/xWemJJ0GQ4tEr+SyLvkEUlERL0VVdCIxpOj0uFhyOmK6GtpQXXTC/NNNaNg3bQfKZ35yv935qb9bhEJLnYes+Q=
