version: ~> 1.0
sudo: false
language: node_js
node_js:
  - '10'
  - '12'
  - '13'
  - '14'
matrix:
  fast_finish: true
  allow_failures: []
cache: npm
install:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/master/scripts/node-install.bash)"
before_script:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/master/scripts/node-verify.bash)"
after_success:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/master/scripts/surge.bash)"
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/master/scripts/node-publish.bash)"
notifications:
  email:
    recipients: >-
      mMhAOLV0Y0F+BF5xDpuqIqHOKmqsaap7GTw9PmZrtVqRETwbb+UCaKeUX594DGiywquSxTc/fvQhuGVbiLgh4e24q5hd5mXMgW2ywmkTpa8ivq8Bx/fMhb/MsXAL48qxbpB2dsRcXhPznjArIjwcY4DGiBm9Y6VJ2sE34NjmsQtw947wxfBx+/YiDIIEgs/EVqV8dADLQwkESLDNOXRTbnKrDoBNosb7d2luRCHTC0mt/oQI3pzLQ+7LrrswRzx62pnCKe0iAwnRyepxPlEoS91n7yYsMx/c/0R7S2ytYEk3NvQIg0oaonQnu4nJfdlg1kSGeQTm6Keg/iXSqpAOQtP5VQMm3teWc96S3NuUmR+g0dvQh6o2cj1VhP6z8YCWZiR6QF+PLANq/MkK/UqTsRh+c/oaZLVyAZoZ7+NNB9ztvQqNo5zn5VySDxW1Nn3lHdxBGPfW4xGXgGZsl2M4SD3W4eJuungZUbhK3kKFgRKM90BN+H4cHkug/Vi1H9vUaTIftEJQMULKbk3+LJb8XoFAw1rpWjN91Jre0gFhIcy04UYjtJqhZFn4wV+DXPM8u2nysGtLeN5AU5aiVCd5odrhA2d1b4uQqBZuMj9LRVOFgZBWLFodo8fOPoCKVbz3gb+tDfTo3JqF2Ag+i9tcL/rRfYHjuNWCfbOb10aEcOo=
