version: ~> 1.0
sudo: false
language: node_js
node_js:
  - '10'
  - '12'
  - '13'
  - '14'
matrix:
  fast_finish: true
  allow_failures: []
cache: npm
install:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-install.bash)"
before_script:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-verify.bash)"
after_success:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/surge.bash)"
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-publish.bash)"
notifications:
  email:
    recipients: >-
      a9IsY/Zp5t3QwMlECYR+fbP7+rh+dHA63AxWbumpRiAfEaiLasgoiEewGMRRchCV3xJG1XqYs9+KfOCyFyM7PNAJ3fDOJ0p/bdYBHC+fJDdm+9GLgmEITFbvwEZpx6/Tw0kXxx4jtf2cFIdtqR+ft8MRiViih56KIR35oOYQV0aY4CS1fuyUJ3yoxaPDwPWgV2q2LuTOUD/Ud53qZrijjasNtYdAHr8rXlkGsocw5aLSGUG8YPysolQ4Ctlbyi2XGlVQ4xt6vuKveCGmnHKSAj1cRmtgKheSraAuEi9ZosKvt5vrZxEIK98GHtPENrKHX9QjRggxISETL4Ma2aEtE7Bj+ZAjdYLJgXkKstWcsjmb7sFBzKGkNxX336mkvK1ML4lBWerCRJdAoev7E4dcLWyRQ94NS9MQPSaXmimVsDuZgKVTzJ0OeuFPZdi8gSwpI3+kD2rWhlOpubEHY5lhJ0eOozvhlm3ySQxEOsr2sFeuR9jWZL84mMTq8a7utTqsOP1l95o+7RTHo9xZtrmUuK0CO0MinZoma/j40Ja999AmDfk5nUrsE2zTlvUuQW80oS9LJO0QFszA/k9lgvwfjYWOaUjMIjcYamHWExXrC4F9Yia0AJcEU0oJ6fPu4ewpPXB/4Gxz2EBSw+38+WagWGfsutkmecoihfhTw6yRADE=
