sudo: false
language: node_js
node_js:
- '8'
- '10'
- '12'
matrix:
  fast_finish: true
  allow_failures: []
cache: npm
install:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/be651cc263221278d0b3ab25802283fd26033f72/scripts/node-install.bash)"
before_script:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/be651cc263221278d0b3ab25802283fd26033f72/scripts/node-verify.bash)"
after_success:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/be651cc263221278d0b3ab25802283fd26033f72/scripts/surge.bash)"
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/be651cc263221278d0b3ab25802283fd26033f72/scripts/node-publish.bash)"
notifications:
  email:
    recipients:
      secure: R6gFEkOD8pwSwsrbp6nKFup+rHu1SGuDpIULXsp4v5Tsemdc+oUbYdpSMFtE2INThMTsf/ZgQW601V/ZeFZg+AcJyhWQptBAp7ILHkIHmuuoEevZ6sK/ZpkjDQ0dbQNA10OmDFCJnFffezmslrj1vpdk630XuuIRqOmtmE7pYntMSo8WTIBliuDwp2SBAfBJ8+n1bbA8XxwxpIB3dZlu9bVEXuI9kd3SMVWTnOWvuz9LMVf1lCQkhu7t+0hSrCMGiscZGFooNd0VMbaeFRqNcIvSb+2hXO7OUdOWf/ay0NFLLWq74aLqLEI8UjEzgN8msmnj34Osr6gFqZf/+54xH9Zlt/EYgIARrke90MZ2Yu90HsEfDifNHvjeKHm4/ptEgvFs0IOshdBZKOnGnF2ObbqHCMSneJG3rU79BIYq6RJt8LxTvtYLVl9mzZohQS646Zp8SYvMMmSMLI7Y3amK0pV7PAH/Da17TeIGHwVIWdXTInkseFeYYBcoEdbiw/YrB8RGOgCJ0Y0IN0oPaq8iBwGlh/TdWFMrZLBVGwg0O9eIJo/5UzE5djYuOtOpNz/5AxAcjbEg8kyKJmt57zFn+h/1h2RmP1NQTSKrlaYZ/ZkTPD1WmEcYEIutwsoK5N0qxYZm+uHgFCjF0OzWEvXeuWnzDUJNH/ZAoP/YUCKo5i0=
