# August 26, 2015
# https://github.com/bevry/base

# Use the latest travis infrastructure
sudo: false

# We use node
language: node_js
node_js:
  - "0.12"
  - iojs
cache:
  directories:
    - node_modules

# Prepare our tests
# Ensure the project is setup correctly and compiled
install: "npm run-script setup"
before_script: "npm run-script compile"

# Run our tests
script: "npm test"

# Custom notifications
notifications:
  slack:
    secure: KdTDILfRzkA+pfnddI24Nc0nr2Ug+cFS1RXjn2S/34BhdF/47rKZBEweqSvy9IgP+CiHWPzrLnY195QuMRlOujpeAqZEQDGVbutVvhmShY7BRuso45Uf04UCkKTDiOlIoF13Wr+XxnhzQaRvNLeTyxjkPk0tM/lXiZAsohCb5YVAPScS1joV4e5y/7HFJrm5dNLW5ExYBLkjEYSI6nJlqVof5DyiwaHcZdw00NqOwN+bQcBcLnJusJbazcXpQEk2wqyS8uA6FaESMBqEBTr8x2LBy6RqRMukdccgTaDkDNcXC2u7e+8AT5pd+28cjrxXrfqbZWsKsWRie7myFWZ5aWWCR5ugC9L+R0LknVLM+m1nNS9POSGFlZ9N+aQrkbBnVZ0qrABf3HzMdrzPD4pV30uWh+MTqd5jc2QH4hu0YuL0S+aW1jdXoo4rq2miiH6FbMFoWg4azvAdraQNf28o7SKEOIVK5FLykqU3T8ir37/3KN8ETIA/fZrzQoRi/xQ0YZ4HM4xezXkkSY7QZinRFno0a0nvaAudcico0uhh1DplSMZTGbfA2Vh8aM2l8T9fLzK/KgjP54B8H4x6NuAF5E4Rx2pirLDdss/vFjpFmDEVGvjXEz9rwlTm6HKw8wUcDAvUXoLo49HcD9ISDLC31JY/63Sm2WSyl2dqNP6u7yI=
  email:
    recipients:
      secure: H9wqssfwVxidWo/QUDYH1mK2QMMdsKfRbhT+eKT7hLrbaq2El1JWxc6RfYFjeGHGwcHGMyC4+fFdRUvkVous/s6XWNR+GjlkRATx6jaLj6pkz9z+f0TRSFwabcAMcImW48RsvemMaRmZB5yGrEBR9n8loN5fQAufB1kolfB0VKxfUHq14elxnNYrV2r9O689u9aaapm3WtRLtruuCG0AdLlqbhWu89vTbfq76B14NWbuo8CfsLwEcs87U5NkAcygykpACeYU6Ds/y32l54MBTIPHVoI9AYEkZTWHm1PdOyKoHZOYHrGwSsNqfekBtddG9vreNjCe7gP4jnIEY/XEAt9riUz0bGmdbHI7L9GAnroFhPANdk1OTuppTZJRonxw8nbtME/YsOMwGyaU88FAtL3X+1CU+L7c0CW+egjnd8TgCbgElyohZKiYMjxd/dW0+jFS5t8U2EKDla0aFiFSCVGp2LtdSE98s9I8es7wDcfg1RCbj1GyMfITff7f1KeGt07GqW0RpQjquPn2IYDnO3iTPuruxbZr0xXxWqriCAXrZr4lIZy85xkiBbP46Q0wuwX//x6/FtxIlHwg/GORgtl+jp04smbSr8/XZmcF54GRXXkL0U3XDc/ubNZ+ogmnBQxX4fmAIm7g1Jm/Z2fLltgxrtWZ2gYIN94hCg1AePw=
