version: ~> 1.0
sudo: false
language: node_js
node_js:
  - '10'
  - '12'
  - '13'
  - '14'
matrix:
  fast_finish: true
  allow_failures: []
cache: yarn
install:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-install.bash)"
before_script:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-verify.bash)"
after_success:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/surge.bash)"
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-publish.bash)"
notifications:
  email:
    recipients: >-
      QaywqOtZZ6MVy5kH8OogYJ2vvg1B1LMjFvXRHQ9r6Tq6HnFWu0UdYjXdXhZ3DiQcCDHqVHkzo4iPpfcc1GtWkYWMx+eEBnvpT4ra58uKuI5qv0VtHzlJ6RPvstpQUSXlVUd1YaF44sRYTt/v7axO3aBh/VP99T+2Daf5ddAY4IQVYoNCwzIcGKOZra2NoqhI0kdpG2ompUa4UfFgtm1R3nQIqgMR8KgWj6blEEQTWg7igw60F+19GUWQ1Qd+xP+zEPR5xqAGt+J0OidjuorF81WOOHOtei9lIYhkphTuK4RjTOLnMZbl0PCLFN7uOqhGEiqAfKWkYtYfuHyRWTHejYXtpZzlGCJZXcyJqvThTu1mQcb+PYq4a61tRaqzdiASLR+YrzOK6/trzMeE4nfI0NpSte6qwdKrAVOcQpammq6ZRFbWvFeONPBE13iHwu1t/zTbVUWbttSr18dqaHdKGlCwa/LOx/2POmVTgTz8aq4wcv8pwGT08MJdDhKVXzPWCtVK2ovTG0lig+TD4jFkOyBdQMquQSlAk2z+PYdJOlSEPvOlNucyk2/wDeMmot3UFLqxqDInDimELEgNr0+EJ+NHdM+lMzhxRX6v4fqJlmjvutAUf9QTPs3Vl7CTfLy3Fu2a9K60tRSjzKD1NPQihl1bFujCJrWKLYqwCf6Jz8A=
