sudo: false
language: node_js
node_js:
- '8'
- '10'
- '12'
matrix:
  fast_finish: true
  allow_failures: []
cache: npm
install:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/c91c9d5eef34ecb0e92029667fd5052640225fa3/scripts/node-install.bash)"
before_script:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/c91c9d5eef34ecb0e92029667fd5052640225fa3/scripts/node-verify.bash)"
after_success:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/c91c9d5eef34ecb0e92029667fd5052640225fa3/scripts/surge.bash)"
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/c91c9d5eef34ecb0e92029667fd5052640225fa3/scripts/node-publish.bash)"
notifications:
  email:
    recipients:
      secure: JLqXZuIEN4l7OEkS2b5PZKe5DK/RzFBdoft62brwZ2Vk2MawxGkHPHgnTbyJuw9rQHATdJNm4KDlhbFT6Nvgsd0gJ+tkruCelQ2YHIOUJUq72hVvONw5FM5XLapkk+cRg2W3rDbAgfKtxtztBf6g2gbQ7/++2/Xx3MS1CEj+g55YuvR94vke5uXEqjFJPG4oEQOwPjXCFJENd3ikZEE56Tx98bNvT6hfVHE1lfbYw59GvgjO4VLuPB0BAZ2YptLWiSzXTVg9XGacjN+WDm2SQearnWE/40XKeEeTvr7ALWVglwtufJra4+Cv7GSybiORPkiER66toGJePLVhk9dO7YuRa1vnKM52VEkt2j8CFoCCTA3aP8HwXfYdowC+J5S+GyLW8yV1gOH1Aotzf7s6VjA6/TOsWKi9oq7QRpng2XTa5N2zwUq357olqexJ4PMjibBIB/DTOM534MiNnrBgpLrDudYFE35/OKU7YkFDKZMX/a5BRm7fA6jvfHJF4rDenh5QBZSTAxey5kfjdYO8ogcerM45EWaw+1jybBw1U+mqNyiqDdHREDxs/UBp7FFvnAHr07XprHswpxIMmK1ClV1w2vMkGJ95Joib2Gi0dX0WV0dXz8+kMYDrnNiSaE5VBtEyKkXl1pZzTorBGPl3INT1FFWjtjcIKBrMrIuEhR4=
