version: ~> 1.0
sudo: false
language: node_js
node_js:
  - '10'
  - '12'
  - '13'
  - '14'
matrix:
  fast_finish: true
  allow_failures: []
cache: npm
install:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-install.bash)"
before_script:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-verify.bash)"
after_success:
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/surge.bash)"
  - >-
    eval "$(curl -fsSL
    https://raw.githubusercontent.com/bevry/awesome-travis/9fa2fa025c77b463d03154f39922af95cadc9c67/scripts/node-publish.bash)"
notifications:
  email:
    recipients: >-
      hRGOXCqlDZUoPlz4fuu3yIr7GHurze8JK6wa7sMTiwc2KlMTMra+ie+DIebH2pKBj/yr3ngKNhCd/JYbmEWSjKWVoxBYxMUZgfKmvTvodp3WHBmUq4mJtueaHkB6H3kGkDE4/Fw0ceSu+rqNECyinXau8Dk0O2rMxpWWzgp0ubIRGxzRG5TNriHLes5isUhzWHdtcz3cu5ABxxz2jxG74RpAngXsVtGaknphfgsG5A2A05DMSds9wgGiPiMKAxHS8lLQ5dh365vXnVYw6NtlPG/nt9m622bMkRly4hbOYpx4gbvrce9LolG9mNouLO2Dr9HbH+qZ1ApjiITmM8mmZ6k9unYUujo0Yiy6p1d45IuZ7baXnHhfIG3eDRVsinNVB1bnjFVVes7/8jfHQuPLZHtTBE9yBOi8A8hjRZBh7f/wBcOfwYRlXYwhRivAcUPFXPjVsQakqeSSt8aqCxRqidT4bKt2HWSowFjbwYQT0S1crTrL7ODgX7QHrgl9Y+qrzvAA1F+prUZndqro1ZJ57EUQi/odzhB/Hb3xwxDVklWdhg3gdsPdSZcz85ee8hBDmrxhCa6W+kQECZVvdSBtc/jigBPuGpDsUoHF0eUfbQNnWjcDHeFdsO+uAYyzFF6eQhfELrGrtlOoHRDPDyU5rhCMEf7x7zPl/n+1DXoUs8c=
