sudo: false
language: node_js
node_js:
- '8'
- '10'
matrix:
  fast_finish: true
  allow_failures:
  - node_js: '10'
cache:
  directories:
  - "$HOME/.npm"
  - "$HOME/.yarn-cache"
install:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/1ec050bc004d0e2161cb5286c247850d24aecc02/scripts/node-install.bash)"
before_script:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/1ec050bc004d0e2161cb5286c247850d24aecc02/scripts/node-verify.bash)"
after_success:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/1ec050bc004d0e2161cb5286c247850d24aecc02/scripts/surge.bash)"
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/1ec050bc004d0e2161cb5286c247850d24aecc02/scripts/node-publish.bash)"
notifications:
  slack:
    secure: PWKNKzq+lERBDH9X6WXopJUbxGllH+Z8xyv3J+trI2NhKXlz40X7/6ORCLsFxpHHioA1dqm+AgN6ToIGhL7PluPhzcjOT7S4oJCbuJPseqTiquUJekCseapRlxFz+FhZx2SsT8qr4WlmMaA7y7fZOPxrByVG2T0sN+M51N8ly4abjk/Ou1GYbuJkXfOcHoEugS1KLesAYx/mLqzgJPc3OM/QL21AeQnqO+iNG6yw+SnlvIvxBFjRjsVlzYJxQpop4NoWspDVBF6rithxAsZKlh9JUgf6n1rWWLfQ9D95k5lujbnUJ7mF4xnDlEFU+W2qkBoaxKbrni2EibrF2/w+z/jqzvmnZt6T+Szhef6HuxLQ3SR89yr0p9zf9NQHAph/uyOpjUuEDtCn3nNW0mg2rHPee1yG3gXsLovpwbC5/lzdAgK9NrsS0wlZ9QnTLrgFpY+vMm5kW6rsB8pwfhIsupvc+DYrHIjl0C4ZM3ghxqYFkiE/Czkcnj8eg3kao9njG51XfAja9tUQUnvoTiYJpoQ/X95af4Et0M0U0Vx3ohvH29/k0cnjyPqqnjeeDTUp85673kdlZe/cBtcfx7jKoDceCnSPdIHfJSLTFkIyzfsaRbpja5/f2BRd0xstyqZBZ/j3+BqHHBmQqACQKC6TVnVHrhLIh+/WWQVi729zYfI=
  email:
    recipients:
      secure: f4QmBjQGGQQftwyzSuGk5hzN9kYzWaB9cXNIU73wl516bv2T1b3NLHBxMT2cp91UeVDsnUS5JWKp7b6xiT3AxvlIQpcfhXCrMeaTltC++2E78RfUfjQCqCJ+1ucjfqrswZEKicrnJGO5gUH9aG3yRSn87MwIpiT1BP8Bg+iWa2986316ZHzQ4mkmdgbvAwri0Ea09/Vum6y9x2UWh7yCA/0nhKR+Xpm+XnKsGLxW+pLZ6Mz9MtT0DhfJKT5sq4q+j0w17XCUFtTGwcTpifXjusxTKBH2y4PkSiFmjQ29Q/NzTgCNAI4m2QlcbCmUZ6nm+AaezZfgd5y048Zpa3YX7vnium7yKKGze5Zk6bu4PQ2jMtmqun/nYjN3qoAKLqChUguDf6Ac9J+xjGBaSPkoqHSNCYyjXPteDRYUAaOn0MurxTtjnWZCpjfKnVwtCtW962fGuKdfXt7tcHX+egXblHuzy05rsKl641cSMlfvJoFeRDvBVfJWIKndokEcxZjBzJtmxct2YwMt+LhQW4Vf6461YJmknLzN1MNEXPVje0IyFZbU0mUBl546CakcoKT9cm+FWOFAndYFUfuxzKDHaDnZ5oQ9MdQxwRfE9NCjp6Z3o/Qe88EJlakFlh23OUU5huUwW5NfrfnhGQkn8ZwMg1TWs1ckdi/7Sb3NuYJBGIw=
